@media only screen and (max-width: 960px) {

  /* fonts */

  @font-face {
    font-family: apercu-light;
    src: url(fonts/apercu/apercu-light.otf);
  }
  
  @font-face {
    font-family: apercu-regular;
    src: url(fonts/apercu/apercu-regular.otf);
  }
  
  @font-face {
    font-family: apercu-bold;
    src: url(fonts/apercu/apercu-bold.otf);
  }
  
  @font-face {
    font-family: apercu-medium;
    src: url(fonts/apercu/apercu-medium.otf);
  }
  
  @font-face {
    font-family: cormorant-bold;
    src: url(fonts/cormorant/cormorant-bold.otf);
  }


  /* general styling */

  body {
    font-family: apercu-light;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
    
  b {
    font-family: apercu-regular;
  }
    
  strong {
    font-family: apercu-bold;
  }

  button:focus {
    outline: 0;
  }



  /* announcement bar section */

    /* removes border radius and margin */
    .alert {
      border-radius: 0;
      margin-bottom: 0rem;
    }
  
    /* gives style to background, border and font */
    .alert-warning {
      background-color: #f1f1f1;
      border-color: #e1e1e1;
      color: black;
    }


  /* hero section */
    /* overlays image and text, gives style */
    .hero-container {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
    }
    
    .hero-container img {
      width: 100%;
    }
    
    .text-block {
      position: absolute;
      bottom: 0px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      color: black;
      padding: 35px 0px;
    }

    .hero-shop-now-button {
      border-radius: 30px;
      background-color: black;
      border: black 1px solid;
      padding: 10px 30px;
      color: white;
      font-family: cormorant-bold;
      transition-duration: 0.4s;
    }

    .hero-shop-now-button:hover {
      border-radius: 30px;
      background-color: transparent;
      border: 1px solid black;
      padding: 10px 30px;
      color: black;
      transition-duration: 0.3s;
    }

 
  /* featured products section */    

    /* gives header style */
    .featured-header {
      padding-left: 5%;
      margin-top: 10%;
      margin-bottom: 5%;
    }
    
    /* allows content to be horizontally scrollable */
    .featured-card {
      background-color: #fff;
      min-width: 100%;
      min-height: 200px;
      display: flex;
      overflow-x: auto;
      padding-left: 5%;
      margin-bottom: 10%;
    }
    
    /* removes scrollbar */
    .featured-card::-webkit-scrollbar {
      display: none;
    }
    
    /* resizes individual containers */
    .featured-card-content {
      min-width: 60%;
      height: auto;
      margin: 5px;
    }
    
    /* breaks up texts and buttons */
    .featured-card-content a, button {
      display: block;
    }
  
  .featured-card-content p {
    margin-bottom: 0;
  }
  
  .featured-card-content img {
    width: 100%;
  }
  
  .featured-title {
    margin-top: 5%;
  }

    /* gives buttons style */
    .featured-card-content button {
      border-radius: 30px;
      background-color: black;
      border: black 1px solid;
      padding: 10px 30px;
      color: white;
      font-family: cormorant-bold;
      transition-duration: 0.4s;
      margin-top: 5%;
    }

    .featured-card-content button:hover {
      border-radius: 30px;
      background-color: transparent;
      border: 1px solid black;
      padding: 10px 30px;
      color: black;
      transition-duration: 0.3s;
    }


  /* our categories section */
  .section-title-categories {
    padding-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
  }
  
  .card {
    border: 0;
  }
  
    /* adds white spaces at the sides */
    .row, .row-cols-1, .row-cols-md-2 {
      padding-left: 20%;
      padding-right: 20%;
      margin-right: 0;
      margin-bottom: 10%;
    }

    /* gives buttons style */
    .product-shop-now-button {
      display:block;
      border-radius: 30px;
      border: black 1px solid;
      padding: 10px 30px;
      color: black;
      background-color: transparent;
      font-family: cormorant-bold;
      margin-top: 1rem;
    }

    .product-shop-now-button:hover {
      border-radius: 30px;
      background-color: black;
      border: 1px solid black;
      padding: 10px 30px;
      color: white;
      transition-duration: 0.3s;
    }


  /* newsletter section */
    /* gives button style */
    .newsletter-submit-button {
      border-radius: 30px;
      border: black 1px solid;
      padding: 10px 30px;
      color: black;
      background-color: transparent;
      font-family: cormorant-bold;
    }

    .newsletter-submit-button:hover {
      border-radius: 30px;
      background-color: black;
      border: 1px solid black;
      padding: 10px 30px;
      color: white;
      transition-duration: 0.3s;
    }

  .email-field {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

    /* gives form style */
    .form-control {
      font-size: 0.8rem;
      color: #babdc0;
      text-align: center;
      border: 0;
      border-bottom: 1px solid #babdc0;
      border-radius: 0;
      width: 250px;
      background-color: transparent;
    }

    /* allows the form to change color when active */
    .form-control:focus {
      color: black;
      border: 0;
      border-bottom: 1px solid black;
      width: 250px;
      box-shadow: none;
      background-color: transparent;
    }

  .newsletter {
    background-color: #f1f1f1;
    padding-top: 10%;
    padding-bottom: 10%;
  }


  /* instagram section */

    /* hides instagram for mobile */
    .desktop-instagram {
      display: none;
    }
    /* gives title style */
    .instagram-header {
      padding-left: 5%;
      margin-top: 10%;
      margin-bottom: 5%;
    }
    
    .instagram-header a {
      color: black;
    }
  
    /* adds hover effect to "@rewaremodern" */
    .instagram-header a:hover {
      text-decoration: none;
    }
  
  .mobile-instagram a {
    width: 50%;
    height: auto;
  }
  
    /* splits into three rows */
    mobile-instagram, .first-row, .second-row, .third-row {
      display: flex;
    }
  
  .img-thumbnail {
    border: 0;
    padding: 2px;
    border-radius: 0;
  }

  /* footer menu section */
    /* hides footer menu section for desktop */
    .desktop-footer-menu {
      display: none;
    }

  .collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: apercu-medium;
  }
  
  .active, .collapsible:hover {
    background-color: white;
  }
  
  .content {
    padding: 0 0 1rem 18px;
    display: none;
    overflow: hidden;
    background-color: white;
  }
  
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
  .content a {
    display: block;
    color: black;
  }
  
  .content a:hover {
    text-decoration: none;
    color: #babdc0;
    transition-duration: 0.2s;
  }
  
  .mobile-footer-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


  /* footer copyright */
  .copyright {
    color: white;
    font-size: 0.8rem;
    background-color: black;
    padding: 1rem 0;
    text-align: center;
  }

}